<h1>Resultados de lo que sería tu búsqueda</h1>

{{#if item}}
<p>Buscas un artículo de tipo {{item}}</p>
{{/if}}

{{#if color}}
<p>De color {{color}}</p>
{{else}}
<p>Te da igual el color</p>
{{/if}}

{{#if size}}
<p>De talla {{size}}</p>
{{else}}
<p>Te da igual la talla</p>
{{/if}}

{{#if price}}
<p>De precio {{price}}</p>
{{else}}
<p>Te da igual la pasta</p>
{{/if}}